@font-face {
  font-family: 'UnifrakturMaguntia';
  font-style: normal;
  font-weight: 400;
  src: local('UnifrakturMaguntia'), url(../fonts/unifraktur-maguntia/unifraktur-maguntia.woff2) format('woff2');
}

//
// Commons
// --------------------------------------------------

a {
  text-decoration: underline;
}

hr {
  border-top: 1px solid $gray-light;
  margin: 16px 0;
  padding-top: 0;
  border-bottom: none;
  &.scotch-rule {
    box-sizing: content-box;
    content: '';
    display: block;
    border-top: 2px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    height: 1px;
  }
}

.thumbnail {
  border: none;
  margin: 0 0 10px 0;
  padding: 0;
  border-radius: 0;
}

figure {
  figcaption {
    font-size: 0.85em;
    margin-bottom: 15px;
    color: $gray-dark;
  }
}

blockquote {
  font-style: italic;
  color: $gray-dark;
}

section {
  margin-top: 20px;
  &:last-child {
    border-bottom: none;
  }
}

// Navs
// -------------------------

.navbar {
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: 0;
  .navbar-nav {
    li {
      a {
        padding: 5px 10px;
      }
      p {
        padding: 10px 0 0 5px;
        margin: 0;
      }
    }
  }
  .nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0;
    float: none;
  }
  .navbar-right {
    margin-right: 0;
  }
  .navbar-inner {
    text-align: center;
  }
}

// Links
// -------------------------
h1 a, h2 a, h3 a, h4 a, .nav a, .navbar a {
  text-decoration: none;
  color: $brand-primary;
  &:hover, &:focus {
    color: $brand-primary;
  }
}

//
// Header
// --------------------------------------------------

.menu-toggle {
  text-transform: uppercase;
  font-weight: bolder;
}

.branding {
  font-family: 'UnifrakturMaguntia';
  color: $brand-primary;
  a:hover, a:focus {
    text-decoration: none;
  }
}

.masthead {
  padding: 0;
  #masthead-cap {
    font-family: $font-family-sans-serif;
    color: $brand-secondary;
    padding: 8px 0;
    font-size: 0.8em;
    border-bottom: 1px solid $gray-light;
  }
}

//
// Mobile Header
// --------------------------------------------------

.mobile-head {
  padding: 15px 15px 13px 15px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(128, 128, 128, 0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(128, 128, 128, 0.25);
  box-shadow: 0px 5px 5px 0px rgba(128, 128, 128, 0.25);
  .navbar {
    .menu-toggle {
      .glyphicon {
        font-size: 1.2em;
      }
      text-decoration: none;
    }
    h2 {
      &.branding {
        display: inline;
        font-size: 1.8em;
        padding: 15px 10px;
      }
    }
  }
}

//
// Article
// --------------------------------------------------

.article {
  border-bottom: 1px solid $gray-light;
  ul.categories {
    display: block;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    li {
      display: table-cell;
      a {
        text-decoration: none;
        &:hover, &:focus {
          text-decoration: underline;
        }
        font-weight: bold;
        font-family: $font-family-sans-serif;
        color: $brand-secondary;
      }
    }
    li + li:before {
      content: " > ";
      padding-left: 4px;
      color: $brand-secondary;
    }
  }
  &.last {
    border-bottom: none !important;
  }
  .byline {
    color: $gray;
    font-size: 0.8em;
  }

}

.timestamp {
  font-family: $font-family-sans-serif;
  color: $brand-secondary;
}

//
// Footer
// --------------------------------------------------

.footer {
  border-top: 1px solid $gray-light;
  margin-top: 15px;
  padding-top: 9px;
  .nav {
    li {
      width: auto;
      a {
        font-size: 0.8em;
        font-family: $font-family-sans-serif;
        color: $gray;
        margin: 2px;
        padding: 0 4px;
      }
      a:hover, a:focus {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
}

//
// Medium devices (desktops, 992px and up)
// --------------------------------------------------

@media (min-width: $screen-md-min) {
  .collection .article:last-child {
    border-bottom: none;
  }
  .footer {
    margin-bottom: 35px;
  }
}

//
// Only Small devices (tablets, 768px and smaller)
// --------------------------------------------------

@media (max-width: $screen-sm-max) {

  section {
    border-bottom: none;
    margin: 0;
    &:first-child {
      margin-top: 20px;
    }
  }
  .article {
    margin: 0 0 30px 0 !important;
    padding: 0 0 15px 0 !important;
    ul.categories {
      li {
        a {
          font-size: 1em !important;
        }
      }
    }
    font-size: 1.3em;
    h1 {
      font-size: 1.6em;
    }
    h2 {
      font-size: 1.1em;
      margin: 6px 0;
    }
  }

  .footer {
    text-align: center;
    padding-bottom: 15px;
    .nav {
      padding-left: 10px;
      li {
        a {
          font-size: 1em;
        }
      }
      &.navbar-nav {
        margin: 0;
      }
    }
  }
}